@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);



  * {
    font-family: "Press Start 2P", serif;
    font-weight: 100;
    font-style: normal;
   
  }
  
  
  
 
  body {
    background: linear-gradient(to bottom, rgb(85, 200, 254), #fff);
    text-align: center;
    min-height: 100vh;
    position: relative;
    
  }

  main{
    position: relative;
    margin-top: 2%;
    display: inline-block;
    padding: 15px;
    max-width: 80%;
    
  }

  .pokedex{
    width: 100%;
    max-width: 600px;
  }

  .pokemon_img{
    position: absolute;
    bottom: 40%;
    left: 40%;
    height: 25%;
    transform: translate(10%,-10%);
  }

  .pokemon_data{
    position: absolute;
    text-align: left;
    color: rgb(72, 72, 72);
    font-weight: 400;
    font-size: 6px;
    top: 62%;
    right: 45%;
  }

  .pokemon_number{
    line-height: 1.8;
    color: rgba(102, 102, 102, 0.647);

  }

  .pokemon_name{
    text-transform: capitalize;

  }
  
  .form{
    position: absolute;
    background-color: green;
    width: 50%;
    top: 75%;
    left: 29%;
  }

  .input_search{ 
    position: absolute;
    display: flex;
    width: 30%;
    padding: 5%;
    left: 22.5%;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: -2px 2px 0 #888, -3px 3px 0 #333;
  }

  input::placeholder{
    font-size: 8px;
    transform: scale(0.85);
    transform-origin: -15%;
    letter-spacing: -2px; /* Diminui o espaçamento entre as letras */
    text-align: left; /* Alinha o texto à esquerda */
    width: 150%;
    padding-top: 30%;
    color: rgba(0, 0, 0, 0.532);
  }

  .buttons{
    position: absolute;
    width: 70%;
    top: 76%;
    left: 26.5%;

  }
  
   button {
    color: black;
    font-size: clamp(8px, 5vw, 0.1 rem);
    background-color: #5c5c5c;
  }

   button:active {
    font-size: 0.2rem;
   }


  
  @media screen and (min-width: 340px) and (max-width: 399px) {
    .pokemon_data{
      font-size: 4px;

    }
  }

@media screen and (min-width: 400px) and (max-width: 459px) {
    .pokemon_data{
      font-size: 5px;

    }
  }

  @media screen and (min-width: 460px) and (max-width: 600px) {
    .pokemon_data{
      font-size: 6px;

    }
  }

  @media screen and (min-width: 600px) and (max-width: 1287px) {
    .pokemon_data{
      font-size: 7px;

    }
  }
  
  @media screen and (min-width: 1287px) and (max-width: 1400px) {
    .pokemon_data{
      font-size: 7.5px;

    }
  }
  
  

  /*Query Buttons*/

  @media screen and (min-width: 640px) and (max-width: 699px) {
    .buttons{
      position: absolute;
      width: 70%;
      top: 75%;
      left: 26.2%;



    }
  }

  @media screen and (min-width: 640px) and (max-width: 699px) {
    button{
      font-size:6px;
      padding: 3px 3px;

    }
  }

  @media screen and (min-width: 580px) and (max-width: 640px) {
    .buttons{
      position: absolute;
      width: 69.5%;
      top: 74.5%;
      left: 26.5%;


    }
  }

  @media screen and (min-width: 580px) and (max-width: 640px) {
    button{
      font-size:6px;
      padding: 4px 3px;
    }
  }

  @media screen and (min-width: 540px) and (max-width: 580px) {
    .buttons{
      position: absolute;
      width: 69.5%;
      top: 74%;
      left: 26.5%;


    }
  }

  @media screen and (min-width: 540px) and (max-width: 580px) {
    button{
      font-size:6px;
      padding: 2px 3px;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 540px) {
    .buttons{
      position: absolute;
      width: 69%;
      top: 73.5%;
      left: 26.5%;


    }
  }

  @media screen and (min-width: 500px) and (max-width: 540px) {
    button{
      font-size:6px;
      padding: 2px 3px;
    }
  }

  @media screen and (min-width: 460px) and (max-width: 500px) {
    .buttons{
      position: absolute;
      width: 69%;
      top: 73%;
      left: 26.5%;


    }
  }

  @media screen and (min-width: 460px) and (max-width: 500px) {
    button{
      font-size:6px;
      padding: 2px 2px;
    }
  }

  @media screen and (min-width: 400px) and (max-width: 460px) {
    .buttons{
      position: absolute;
      width: 69%;
      top: 72%;
      left: 26.5%;


    }
  }

  @media screen and (min-width: 400px) and (max-width: 460px) {
    button{
      font-size:6px;
      padding: 0.7px 2px;
    }
  }

  @media screen and (min-width: 360px) and (max-width: 400px) {
    .buttons{
      position: absolute;
      width: 69%;
      top: 71.5%;
      left: 26.5%;


    }
  }

  @media screen and (min-width: 360px) and (max-width: 400px) {
    button{
      font-size:6px;
      padding: 0.2px 1px;
    }
  }
  
  
  @media screen and (min-width: 420px) and (max-width: 520px) {
    .form{
      position: absolute;
      background-color: green;
      width: 50%;
      top: 73%;
      left: 29%;
    }
  }

  @media screen and (min-width: 430px) and (max-width: 699px) {
    input::placeholder{
      font-size: 6px;
      transform: scale(0.85);
      transform-origin: -15%;
      letter-spacing: -2px; /* Diminui o espaçamento entre as letras */
      text-align: left; /* Alinha o texto à esquerda */
      width: 150%;
      padding-top: 30%;
      color: rgba(0, 0, 0, 0.532);
    }
  }

  @media screen and (min-width: 360px) and (max-width: 430px) {
    input::placeholder{
      font-size: 5px;
      transform: scale(0.85);
      transform-origin: -15%;
      letter-spacing: -2px; /* Diminui o espaçamento entre as letras */
      text-align: left; /* Alinha o texto à esquerda */
      width: 150%;
      padding-top: 30%;
      color: rgba(0, 0, 0, 0.532);
    }
  }

  @media screen and (min-width: 360px) and (max-width: 430px) {
    .input_search{ 
      position: absolute;
      display: flex;
      width: 30%;
      padding: 3%;
      left: 22.5%;
      border-radius: 5px;
      border: 2px solid black;
      box-shadow: -2px 2px 0 #888, -3px 3px 0 #333;
    }
  }
  